server/node_modules
client/node_modules
server/build
client/.nuxt
client/dist
autofeed.img
raspbian-bullseye64.img
raspbian.img
custom.img
custom-root.tar
boot.tar
.git
pt.txt
.github
client/.env
server/.env
raspbian-bullseye-64.img
raspbian-bullseye-32.img
raspbian-buster-32.img