[Unit]
Description=DIYAutoFeed Client
After=multi-user.target autofeed-server.service

[Service]
Type=idle
WorkingDirectory=/etc/autofeed/client
ExecStart=/usr/bin/yarn start

[Install]
WantedBy=multi-user.target