[Unit]
Description=DIYAutoFeed Server
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/etc/autofeed/app
ExecStart=/usr/bin/node /etc/autofeed/app/build/index.js >> /etc/autofeed/server.log

[Install]
WantedBy=multi-user.target